body {
	background-color: #d3d3d3;
}

/* NavBar */
.navbar, .nav {
	background-color: #8dc73f;
}

.jumbotron {
	text-align: center;
	vertical-align: middle;
}

.jumbotron .greeting {
	font-size: 5em;
	font-family: Arial Rounded MT Bold, sans-serif;
}

.money-word {
	color: #b9d93a;
}

.quote {
	font-family: Century Gothic, sans-serif;
	font-size: 1em;
	color: #000000;
}

.jumbotron-author {
	font-size: .7em;
}




/* Add */
/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');*/
.date-form {
	width: 15%;
	margin-left: 20px;
}

.grid {
    width: 500px;
    height: 250px;
}